@keyframes apparition {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes goDroite {
	from {
		opacity: 0;
		transform: translateX(-5%);
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}

.titre {
	opacity: 0;
	font-family: "Libre Franklin", serif;
	font-optical-sizing: auto;
	font-weight: bold;
	font-style: normal;
	font-size: 5rem;
	margin: 0;
	margin-top: -2em;
	color: white;
	text-shadow: 0 5px 3px gray;
	animation: goDroite 0.8s ease-in-out both;
}

.mainConteneur {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(50, 72, 131);
    margin: 0;
    padding: 0;
    gap: 2em;
}

.mainConteneur .description {
    margin: 0;
    margin-top: 2em;
    margin-bottom: 1em;
    font-size: 3em;
    text-align: center;
    color: white;
    font-weight: bold;
    width: 80%;
}

.mainConteneur .info {
    text-align: center;
}

.mainConteneur .span {
    color: rgb(68, 240, 111);
}

.mainConteneur .bas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 9em;
}

.mainConteneur .gauche {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.mainConteneur .gauche .inputConteneur {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(55, 88, 179);
    box-shadow: 0 10px 2px rgb(21, 48, 122);
    font-size: 2rem;
    padding: 1em 1.75em;
    border-radius: 10px;
    animation: apparition 0.3s both;
}

.mainConteneur .gauche .inputConteneur .icon {
    color: white;
    margin-left: -2rem;
    cursor: pointer;
    font-size: 1.5em;
    transition: color 0.2s;
}

.mainConteneur .gauche .inputConteneur .icon:hover {
    color: rgb(49, 192, 49);
}

.mainConteneur .gauche .inputConteneur .input {
    width: 100%;
    font-size: 1.2em;
    border: 1px solid transparent;
    background-color: transparent;
    resize: none;
    outline: none;
    color: white;
    font-weight: bold;
}

.mainConteneur .gauche .inputConteneur .input::placeholder {
    color: rgb(202, 202, 202)
}

.mainConteneur .image {
    width: 300px;
    filter: drop-shadow(0 0 10px white);
    opacity: 0;
    animation: apparition 0.3s both;
    margin-bottom: 2em;
}

@media only screen and (max-width: 965px) {
    .bas {
        gap: 1em !important;
    }

    .gauche {
        max-width: 50%;
    }

    .titre {
        font-size: 3rem;
    }

    .inputConteneur {
        padding: 1rem !important;
    }

    .inputConteneur input {
        font-size: 1rem !important;
    }

    .inputConteneur .icon {
        font-size: 1rem !important;
    }

    .image {
        flex: 1;
        max-width: 200px;
    }
}

@media only screen and (max-width: 513px) {
    .bas {
        flex-direction: column;
    }

    .description {
        margin-top: 2.5em !important;
        font-size: 2em !important;
        margin-bottom: 3em !important;
    }
}