.titre
{

	color: white;      
    text-align: center;
    font-family: "Libre Franklin", serif;
    margin-top: 100px;
    opacity: 0;
    animation: slideIn 3s ease-out forwards;  
}


@keyframes slideIn {
    0% { transform: translateX(-100%); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
    0% {
        opacity: 0;  
    }
    100% {
        opacity: 1; 
    }
}
