@keyframes apparait {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes disparait {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.apparait {
    animation: apparait 0.3s ease-in-out both;
}

.disparait {
    animation: disparait 0.3s ease-in-out both;
}


.predictionConteneur {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prediction {
    background-color: rgb(60, 108, 180);
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    box-shadow: 0 0 10px rgb(75, 112, 167);
    border-radius: 10px;
}

.prediction .icon {
    position: absolute;
    cursor: pointer;
    color: rgb(255, 79, 79);
    transition: color 0.3s;
    font-size: 2em;
    top: 20px;
    right: 20px;
}

.prediction .icon:hover {
    color: rgb(201, 36, 36);
}

.prediction .title {
    color: white;
}

.prediction .resultats {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.prediction .resultats.center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prediction .carteInfo {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 95%;
    gap: 3em;
}

.carteInfo .image {
    height: 100%;
    filter: drop-shadow(0 0 10px white);
}

.carteInfo .infoConteneur {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.infoConteneur .headerConteneur {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

.headerConteneur .rarity {
    margin-top: -2em;
}


.headerConteneur > .set {
    margin: 0;
    color: white;
    background-color: yellow;
    font-weight: bold;
}

.infoConteneur .header {
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
}

.header .info {
    color: white;
    text-shadow: 0 3px 1px gray;
    font-weight: bold;
    font-size: 2.5em;
}

.header .typeImage {
    width: 40px;
    height: 40px;
    object-fit: cover;
    filter: drop-shadow(0 0 3px black)
}

.infoConteneur .futurePrix {
    flex: 1;
}

.futurePrix .test {
    background-color: red;
    width: 100%;
    height: 100%;
}

.type {
    color: white;
    font-size: 20px;
}

.rareteConteneur {
    margin-top: -2em;
}

.rarity {
    color: white;
    text-shadow: 0 3px 1px gray;
    font-weight: bold;
    color: white;
    font-size: 20px;   
}

.desc {
    color: white;
    font-size: 20px;
    font-style: oblique 20deg;   
}

.radioContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .customRadio input[type="radio"] {
    display: none;
  }
  
  .customRadio .radioBtn {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #3498db;
    display: inline-block;
    position: relative;
    margin-right: 10px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }
  
  .customRadio input[type="radio"]:checked + .radioBtn {
    background-color: #3498db;
    border-color: #3498db;
  }
  
  .customRadio input[type="radio"]:checked + .radioBtn::after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
  }
  
  .customRadio:hover .radioBtn {
    border-color: #2980b9;
  }
  
  .customRadio {
    font-size: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .customRadio input[type="radio"]:focus + .radioBtn {
    outline: none;
    box-shadow: 0 0 0 3px rgba(52, 152, 219, 0.3);
  }
  