@keyframes apparait {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes disparait {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.apparait {
    animation: apparait 0.3s ease-in-out both;
}

.disparait {
    animation: disparait 0.3s ease-in-out both;
}


.predictionConteneur {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prediction {
    background-color: rgb(60, 108, 180);
    width: 600px;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    box-shadow: 0 0 10px rgb(75, 112, 167);
    border-radius: 10px;
}

.prediction .icon {
    position: absolute;
    cursor: pointer;
    color: rgb(255, 79, 79);
    transition: color 0.3s;
    font-size: 2em;
    top: 20px;
    right: 20px;
}

.prediction .icon:hover {
    color: rgb(201, 36, 36);
}

.prediction .title {
    color: white;
}

.prediction .resultats {
    flex: 1;
}