@keyframes apparition {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.footerConteneur, .footer {
    background-color: rgb(13, 30, 58);
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-bottom: 5em;
}

.footer {
    opacity: 0;
}

.visible {
    animation: apparition 1.5s both;
}

.footerConteneur .image {
    margin-top: -4em;
    margin-bottom: -5em;
    max-width: 400px;
    padding: 0;
}

.footerConteneur .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 95%;
}

.footerConteneur .copyright p {
    color: white;
    font-weight: 700;
    font-size: 1.5em;
    text-align: center;
    cursor: default;
}

.footerConteneur .copyright .nom {
    color: rgb(78, 247, 87);
    cursor: pointer;
    transition: color 0.3s;
}

.footerConteneur .copyright .nom:hover {
    color: rgb(45, 187, 52)
}

@media only screen and (max-width: 450px) {
    .footerConteneur .image {
        width: 250px;
        margin-bottom: -1.5em;
    }
}