@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

* {
	font-family: "Roboto", serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-variation-settings:
		"wdth" 100;
}

.mainJson {
	background: rgb(50,72,131);
	background: linear-gradient(180deg, rgba(50,72,131,1) 35%, rgba(60,100,152,1) 100%); 
}

body {
	background-color: rgb(255, 255, 255);
	padding: 0;
	margin: 0;
}
